.canvas-container {
    position: relative; /* 确保子元素可以相对此容器定位 */
    background-image: url('bg.png'); /* 设置背景图片 */
    background-size: cover; /* 背景图片大小 */
    background-position: center; /* 背景图片位置 */
  }
  #pointCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 图片宽度 */
    height: 100%; /* 图片高度 */
    object-fit: cover; /* 确保图片填充整个 canvas */
    z-index: 2; /* 确保图片位于 canvas 上方 */
  }
  #wheelCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* 确保 wheelCanvas 在 pointCanvas 下方但 img 上方 */
  }